/* 

KETENTUAN PENAMAAN KELAS 
- Konsultasi dengan yang lainnya jika ingin membuat kelas baru
- Nama kelas awali dengan smd-nama-kelas , misalnya smd-btn-primary / smd-heading-primary 
- Usahakan tidak menggunakan 1 2 3 (smd-btn-1), tetapi (smd-btn-primary / smd-btn-secondary)

*/

/* ------------------------------------------- PALLET ------------------------------------------- */

:root {
    --color-primary: ;
    --color-secondary: ;
    --color-alert: ;
    --color-success: ;
    --color-neutral: ;
    --color-mid-neutral: ;
    --color-light: ;

    --font-primary: ;
    --font-secondary: ;

    --size-head: ;
    --size-subhead: ;
    --size-desc: ;
}

/* ------------------------------------------- ALL ------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------- BUTTON ------------------------------------------- */

.smd-btn-primary {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    color: var(--color0);
    border: 2px solid transparent;
    background-color: var(--color1);
}

.smd-btn-secondary {
    border: none;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--color1);
    border: 2px solid var(--color1);
    background-color: var(--color0);
}

/* ------------------------------------------- CARD ------------------------------------------- */



/* ------------------------------------------- FORM ------------------------------------------- */



/* ------------------------------------------- TEXT ------------------------------------------- */


