@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --font1: 'Inter';
    --color0: #FFFFFF; 
    --color1: #003974;
    --color3: #161616;
    --color4: #8D8D8D;
    --color5: #F4F4F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}

/* ------------------------------------------ ALL ------------------------------------------ */

/* ----- BUTTON ----- */
.btn-1 {
    width: 100px;
    height: 46px;
    border: none;
    border-radius: 8px;
    color: var(--color0);
    box-sizing: border-box;
    background-color: var(--color1);
}

.btn-2 {
    width: 100px;
    height: 46px;
    border-radius: 8px;
    color: var(--color1);
    box-sizing: border-box;
    border: 2px solid var(--color1);
    background-color: var(--color0);
}

/* ----- TOGGLE SWITCH ----- */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 24px;
}

.toggle-switch #toggle {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.slider {
    position: absolute;
    cursor: pointer;
    right: 0; top: 0; left: 0; bottom: 0;
    background-color: var(--color4);
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 2px;
    -webkit-transition: .4s;
    transition: .4s;
}

#toggle:checked + .slider {
    background-color: var(--color1);
}

#toggle:checked + .slider:before {
    transform: translateX(30px);
}

.sun {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}

#toggle {
    opacity: 0;
    width: 0px;
    height: 0px;
}

#toggle:checked ~ .sun {
    left: 36px;
    -webkit-transition: .4s;
    transition: .4s;
}

/* ------------------------------------------ HEADER ------------------------------------------ */

header {
    font-size: 16px;
}

/* ----- HEADAER > HEADER ----- */

header .header {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: var(--color5);
}

header .header ul li {
    float: left;
    list-style: none;
    color: var(--color4);
}

header .header ul li a {
    color: var(--color4);
    text-decoration: none;
}

header .header .head-left {
    float: left;
    padding: 0px;
}

header .header .head-left li {
    margin-right: 26px;
}

header .header .head-right {
    float: right;
}

header .header .head-right li {
    margin-left: 32px;
}

/* ----- HEADAER > NAV ----- */

header nav .navbar-brand img {
    width: 140px;
}

header nav ul {
    margin-right: 18px;
}

header nav ul li {
    margin: auto 8px;
}

header nav form .btn-1, header nav form .btn-2 {
    margin: 4px;
}